Add new space: <br>
<form action="/submit_new_space" method="post">
  name
  <input type="text" name="new_space_name"><br>
  description
  <input type="text" name="description"><br>
  <input type="submit" name="submit_button">
</form>