<h1>Welcome to Makers B&B</h1>
<br>
<a href="/register">Click here to register</a> <br>
<br>
<a href="/login">Click here to login</a> <br>
<br>
<a href="/create_new_space">Click here to add a new space</a> <br>
<br>
<a href="/user_home_page">Click here to go to your home page</a><br>
<br>
<a href="/request_available_space">Click here to request a space</a>