<h1>Hello <%= @username %></h1>


Current spaces:

<% if @user_spaces %>
  <ul>

    <% @user_spaces.each_with_index do |element, i| %>
      <li><%= element%></li>
      <li><%= @user_description[i]%></li>
      <li><%= @user_price[i]%></li> <br>
    <% end %>

  </ul>
  <% end %>
